@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #6a62d2;
  background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./images/RSPL-Std-Case-Farming-Equipment-Hiring-Platform-Development-.webp);
  background-repeat: no-repeat;
  background-size: 100%;
}
.login-page {
  height:100vh;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  
}

.form {
  position: relative;
  filter: drop-shadow(0 0 2px #000000);
  border-radius: 5px;
  width: 520px;
  height: 500px;
  background-color: #b2bcaa;
  padding: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 95px;
}
.form p{
  margin-bottom: 20px;
}

.form img {
  position: relative;
  height: 20px;
  margin-bottom:200px;
  right: 60px;
  cursor: pointer;
}

.form input {
  outline: 0;
  background: #f2f2f2;
  border-radius: 4px;
  width: 100%;
  border: 0;
  margin: 15px 0;
  padding: 15px;
  font-size: 14px;
}

.form input:focus {
  box-shadow: 0 0 5px 0 rgba(106, 98, 210);
}

span {
  color: red;
  margin: 10px 0;
  font-size: 14px;
}

.form button {
  outline: 0;
  background: #6a62d2;
  width: 100%;
  border: 0;
  margin-top: 10px;
  border-radius: 3px;
  padding: 15px;
  color: #ffffff;
  font-size: 15px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: black;
  color: #fff;
}

.message {
  margin: 15px 0;
  text-align: center;
}
.form .message a {
  font-size: 14px;
  color: #6a62d2;
  text-decoration: none;
}
/*..........
......
*/
.animate-charcter
{
   text-transform: none;
  background-image: linear-gradient(
    -225deg,
    #0fe0e0 0%,
    #44289d 29%,
    #a0c10d 67%,
    #baa8a2 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 25px;
      margin-bottom: 470px;
      margin-right: 120px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}